<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--값을 외부에 설정한 파일과 연결한다.  -->
	<properties resource="properties/database.properties"/>
	
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- DB연결 설정 -->
      <dataSource type="POOLED">
        <property name="driver" value="${driverClass}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <!--실행할 쿼리문을 가진 xml 설정  -->
  <mappers>
    <mapper resource="kr/co/greentable/mapper/ExamMapper.xml"/>
  </mappers>
</configuration>